.footer {
    margin-top: 150px;
    &__destination{
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__nav1 {
        padding-left: 200px;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: $gold-color;
    }
    &__item {
        margin-top: 20px;
    }
    &__link {
        color:#FFFFFF;
        transition: 0.5s all;
        &:hover {
            color: $gold-color;
            text-decoration: none;
        }
    }
    &__list {
        margin-bottom: 10px;

    }
}